/* public_html/assets/css/global_tools.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
    font-size: clamp(12px, 2vw, 18px) 
}

body {
    background-color: #F6F6F6;
    color: #333;
    margin: 0;
    padding: 0;
}

.main-container {
    margin-left: 70px;
    transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    min-height: 100vh;
}

.sub-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

        
@media (max-width: 768px) {
    .main-container {
        margin-left: 0;
    }
}